/* 关于机地 */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeedf2;
}

.container {
    width: 100%;
}

.content {
    width: 100%;
    color: #666666;
    font-size: 12px;
    line-height: 25px;
    text-align: left;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.content>img {
    max-width: 100%;
}

.titleBox {
    width: 100%;
    text-align: center;
}

.titleBox .logo {
    width: 82px;
    height: 62px;
    margin-top: 30px;
    margin-bottom: 20px
}

.title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.imgList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imgList img {
    height: 85px;
    margin-bottom: 2px;
}

.imgList img:nth-child(1) {
    width: 30%;
}

.imgList img:nth-child(2) {
    width: 69.5%;
}

.imgList img:nth-child(3) {
    width: 44.5%;
}

.imgList img:nth-child(4) {
    width: 29.5%;
}

.imgList img:nth-child(5) {
    width: 25%;
}

.contactUsBox {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.contactList {
    width: 100%;
    margin-bottom: 10px;
}

.contactList ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.contactList ul li {
    width: 32%;
    height: 70px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    padding: 5px;
    box-sizing: border-box;
}

.contactList ul li .name {
    font-size: 14px;
}

.contactList ul li:nth-child(1) {
    background-image: url(../images/listbg01.jpg)
}

.contactList ul li:nth-child(2) {
    background-image: url(../images/listbg02.jpg)
}

.contactList ul li:nth-child(3) {
    background-image: url(../images/listbg03.png)
}

.herfBox {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 25px;
}

.herfBox .herfLi {
    display: block;
    height: 20px;
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
}

.herfBox .herfLi img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.foot {
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
}