/* 我的积分 */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeedf2;
}

.container {
    width: 100%;
}

.content {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
}


/* 当前积分 */

.integralBox {
    position: relative;
    width: 100%;
    height: 110px;
    background-image: url(../images/integralBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 12px;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    line-height: 30px;
    box-shadow: 0px 0px 20px rgba(245, 94, 83, 0.4);
}

.currentIntegral {
    font-size: 34px;
}

.lookRule {
    position: absolute;
    right: 0;
    top: 35%;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f55e53;
    border-radius: 15px 0 0 15px;
}


/* 领取榜 */

.receiveBox {
    display: none !important;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #666666;
    padding: 5px 0;
    box-sizing: border-box;
    margin-top: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.receiveBox .receiveTitle {
    width: 30%;
    height: 100%;
    font-size: 14px;
    color: #333;
    border-right: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.receiveBox .receiveTitle img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.receiveList {
    width: 65%;
}

.receiveList ul {
    list-style: none;
}

.receiveList ul li {
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* 抽奖赚积分 */

.earnPointBox {
    width: 100%;
    margin-top: 10px;
    display: none;
}

.earnPointBox .pointList {
    width: 100%;
    font-size: 12px;
    color: #333;
}

.earnPointBox .pointList {
    width: 100%;
}

.earnPointBox .pointList ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.earnPointBox .pointList ul li {
    width: 33.33%;
    height: 110px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.earnPointBox .pointList ul li img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.earnPointBox .moreBox {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.earnPointBox .moreBox img {
    width: 30px;
    height: 8px;
}

.earnPointBox .moreBox .more {
    width: 120px;
    height: 25px;
    border: 1px solid #f95353;
    color: #f95353;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    border-radius: 12.5px;
    margin: 0 10px;
}


/* 选项卡 */

.tabBox {
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
}

.tabs {
    width: 100%;
}

.tabs ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.tabs ul li {
    width: 50%;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #333;
    text-align: center
}

.tabs ul li.active {
    border-bottom: 2px solid #f95353;
}

.tabContent {
    margin-top: 10px;
    width: 100%;
}

.tabContent .tabList {
    width: 100%;
}

.tabContent .tabList ul {
    width: 100%;
    list-style: none;
}

.tabContent .tabList ul li {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #666;
    border-bottom: 1px solid #f5f5f5;
}

.tabContent .tabList ul li .pointinfo {
    width: 80%;
}

.tabContent .tabList ul li .pointName {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tabContent .tabList ul li .points {
    font-size: 16px;
}

.tabContent .gaintab ul li .points {
    color: #ef5d53;
}

.tabContent .expendtab ul li .points {
    color: #6eabff;
}

.tabContent .gaintab {
    display: block;
}

.tabContent .expendtab {
    display: none;
}


/* 积分规则弹窗 */

.rulemask {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.ruleDialog {
    position: fixed;
    left: 50%;
    top: 45%;
    width: 80%;
    border-radius: 10px;
    -webkit-transform: translateX(-50%) translateY(-45%);
    transform: translateX(-50%) translateY(-45%);
    background-color: #fff;
    z-index: 9999;
    padding: 20px 0;
    box-sizing: border-box;
}

.dialogContent {
    min-height: 100px;
    max-height: 250px;
    overflow: auto;
    font-size: 12px;
    color: #666;
    line-height: 25px;
    padding: 0 10px;
    box-sizing: border-box;
}

.closeDialog {
    position: absolute;
    right: 10px;
    top: -5px;
    font-size: 28px;
    color: #333;
}

.dialogContent .title {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.dialogContent .ruleCount {
    font-weight: bold;
    color: #333;
}