* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    color: #333333;
}

.head {
    position: relative;
    width: 100%;
    height: 130px;
    background-image: url(../images/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
}

.head .header {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.memberRankBox {
    font-size: 12px !important;
    color: #fff;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-top: 5px;
}

.memberRankBox img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.goSet {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 25px;
    height: 25px;
}


/* 内容区 */

.content {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}


/* 我的积分优惠券 */

.mineLists {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-top: -15px;
}

.mineLists ul {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
}

.mineLists ul li {
    width: 50%;
    height: 70px;
    padding: 10px 0;
    box-sizing: border-box;
}

.mineLists ul li a {
    width: 100%;
    height: 100%;
    color: #333333;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid #cccccc;
    box-sizing: border-box;
}

.mineLists ul li a .upBox,
.mineLists ul li a .countBox {
    width: 70%;
    text-align: left;
}

.mineLists ul li a .mineTxt {
    margin-right: 15px;
}

.mineLists ul li a .countBox {
    color: #ff3126;
}

.mineLists ul li a .countBox .numTxt {
    font-size: 18px;
}

.border_l_0 {
    border-left: 0px !important;
}


/*我的订单 积分商城 */

.contentBox {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 0 10px;
}

.contentBox .titleBox {
    width: 100%;
    height: 35px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    font-size: 12px;
    color: #666666;
}

.contentBox .titleBox .title {
    color: #333;
    font-size: 15px;
    font-weight: bold;
}

.contentBox .Box {
    width: 100%;
    height: 85px;
    text-align: center;
    line-height: 85px;
    color: #888;
    font-size: 12px;
}

.nextIcon {
    width: 7px;
    height: 12px;
}