/* 核销页 */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeedf2;
}

.container {
    width: 100%;
}

.contentBox {
    width: 100%;
    background-color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
}


/* 内容标题 */

.contentBox .titleBox {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.contentBox .titleBox p {
    display: block;
    width: 100%;
    height: 20px;
    border-left: 3px solid #ff3126;
    padding-left: 5px;
}


/* 用户信息 */

.infoBox {
    margin-bottom: 10px;
}

.infoBox .info {
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    color: #333;
}

.infoBox .info .header {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
}


/* 核销内容 */

.verificationBox .Lists {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.verificationBox .Lists ul {
    width: 100%;
    list-style: none;
}

.verificationBox .Lists ul li {
    width: 100%;
    min-height: 25px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    color: #333;
    line-height: 20px;
}

.verificationBox .Lists ul li label {
    width: 22%;
    color: #666;
}

.verificationBox .Lists ul li p {
    width: 78%;
    display: block;
}


/* 奖品详情 */

.prizeBox {
    width: 100%;
}

.prizeBox .detailsBox {
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #666;
}

.prizeBox .detailsBox .lookBtn {
    color: #ef5d53;
}

.prizeBox .prizeDetails {
    width: 100%;
    font-size: 12px;
    color: #666;
    line-height: 20px;
    display: none;
}

.prizeBox .prizeDetails img {
    max-width: 100%;
}


/* 底部按钮 */

.btnBox {
    width: 100%;
    padding: 30px 10px 20px 10px;
    background-color: #fff;
    box-sizing: border-box;
}

.btnBox .btn {
    width: 100%;
    height: 45px;
    line-height: 45px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.btnBox .okbtn {
    width: 100%;
    background-color: #ff3126;
    color: #fff;
}

.btnBox .disableBtn {
    width: 100%;
    background-color: #e5e5e5;
    color: #999999;
}